# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text diff=markdown
*.txt text
*.json text

# Scripts
*.js text
*.ts text
*.jsx text
*.tsx text

# Configs
*.yml text
*.yaml text
*.xml text
*.toml text
*.ini text
*.cfg text

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary

# Exclude files from exporting
.gitattributes export-ignore
.gitignore export-ignore 